<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/MBDesignWeb.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/custom/style.css" />
    <link href="~/assets/fontawesome/css/all.min.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>

    <script src="~/lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/assets/sweetalert/sweetalert2.min.css" />
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>

    <script src="~/scripts/config.js"></script>
    <script src="~/scripts/js-helper.js"></script>

    <script src="~/lib/axios/axios.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script src="~/lib/ajax/moment.min.js"></script>

    <script src="~/lib/lodash/lodash.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2-dist/base.css" />

    <link href="~/lib/loadingstyle.css" rel="stylesheet" />
@*
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    *@
    <link href="~/lib/loadingstyle.css" rel="stylesheet" />
    <script>
        localStorage.setItem('webUrl', '@ViewBag.webUrl');
        localStorage.setItem('apiUrl', '@ViewBag.apiUrl');
        localStorage.setItem('imageUrl', '@ViewBag.imageUrl');
    </script>

    <style>
        .bagde-visible{
            visibility:hidden;
        }

        .loader {
            z-index: 99;
        }

        .nav-no-display {
            display: none;
        }

    </style>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/IMG_2178_resize.png" height="70px" width="auto">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">
                                <i href="~/images/accounting.png"></i> ภาพรวมข้อมูล
                                </a>
                        </li>*@
                        <li class="nav-item" id="nav-sale">
                            <a class="nav-link" asp-area="" asp-controller="Sale" asp-action="Index"><img id="imgSale" src="~/images/sales.png" width="20px" /> <span id="spnSale"> การขาย</span></a>
                        </li>
                        <li class="nav-item" id="nav-3d">
                            <a class="nav-link" asp-area="" asp-controller="Design3D" asp-action="Index"><img id="img3D" src="~/images/graphic-design.png" width="20px" /> <span id="spn3D"> การออกแบบ 3D</span></a>
                        </li>
                        <li class="nav-item" id="nav-foreman">
                            <a class="nav-link" asp-area="" asp-controller="Foreman" asp-action="Index"><img id="imgForeman" src="~/images/foreman.png" width="20px" /> <span id="spnForeman"> โฟร์แมน</span></a>
                        </li>
                        <li class="nav-item" id="nav-accounting">
                            <a class="nav-link" asp-area="" asp-controller="Accounting" asp-action="Index"><img id="imgAccounting" src="~/images/accounting.png" width="20px" /> <span id="spnAccounting"> บัญชีและเอกสาร</span></a>
                        </li>
                        <li class="nav-item" id="nav-master">
                            <a class="nav-link" asp-area="" asp-controller="Master" asp-action="Index"><img id="imgMaster" src="~/images/data-processing.png" width="20px" /> <span id="spnMaster"> ข้อมูลหลัก</span></a>
                        </li>
                        <li class="nav-item" id="nav-hr">
                            <a class="nav-link" asp-area="" asp-controller="HR" asp-action="Index"><img id="imgHR" src="~/images/hr-manager_1.png" width="20px" /> <span id="spnHR"> ฝ่ายบุคคล</span></a>
                        </li>
                    </ul>

                </div>
                <div style="display:inline;float:right;">
                    <ul class ="navbar-nav flex-grow-1">
                        <li class="nav-item" id="nav-approve">
                            @*<a href="/semicon/redline/index" class="commenticon" aria-expanded="false" title="click to view task" target="_blank" onclick="getmenuidbylink('/semicon/redline/index')"><i class="fa-solid fa-bell"></i><span class="badge badge-iconnoti" id="show_task_open">1</span></a>*@
                            <a class="nav-link" asp-area="" asp-controller="Approve" asp-action="Index">
                                <i class="fa fa-bell fa-lg"></i>
                                <span class="badge rounded-pill badge-notification bg-danger bagde-visible" id="spnApproveNumber"></span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            @*<a href="/semicon/redline/index" class="commenticon" aria-expanded="false" title="click to view task" target="_blank" onclick="getmenuidbylink('/semicon/redline/index')"><i class="fa-solid fa-bell"></i><span class="badge badge-iconnoti" id="show_task_open">1</span></a>*@
                            <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img src="~/images/girl.png" width="25px" /> <span id="spnloginName"></span></a>
                            <div class="dropdown-menu" >
                                <a class="dropdown-item" asp-controller="Login" asp-action="Index"><i class="fa fa-sign-out" aria-hidden="true"></i> ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> 

        <script>
            $(function () {
                $('#spnloginName').html("");
                $('#spnloginName').html(localStorage.getItem('loginName'));

                callRoleNavMenu();
                callCountCustOrderWaitForApprove();

            });
        </script>
    </header>
    <div class="container-fluid">
        @*<main role="main" class="pb-3">*@
            @RenderBody()
       @*</main>*@
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MBDesignWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
