@{
    ViewData["Title"] = "บัญชีและเอกสาร";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/config.js"></script>
<script src="~/scripts/accounting/accounting-controller.js"></script>
<script src="~/scripts/accounting/accounting-service.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<style>
    .nav-tabs .nav-link {
        background-color: #AFAFAF;
        color: #FFF;
    }

        .nav-tabs .nav-link.active {
            background-color: #F09723;
            color: #FFF;
        }

    .table tr th {
        background-color: #F09723;
        color: #FFF;
    }

    .btn-add-custom {
        color: #F09723;
        background-color: transparent /*#0d6efd*/;
        border-color: transparent /*#0d6efd*/;
        font-size: 16px;
    }

    .no-display{
        display: none;
    }

    .mnu-active {
        color: #F09723;
    }
</style>

<script>
    $(function () {
        let imageUrl = localStorage.getItem('imageUrl');
        let path = (imageUrl == "") ? ".." : imageUrl;

        $('#spnAccounting').addClass('mnu-active');
        $('#imgAccounting').attr('src', `${path}/images/accounting_2.png`);

        $('#spnSale').removeClass('mnu-active');
        $('#spn3D').removeClass('mnu-active');
        $('#spnForeman').removeClass('mnu-active');
        $('#spnMaster').removeClass('mnu-active');
        $('#spnHR').removeClass('mnu-active');


        $('#imgSale').attr('src', `${path}/images/sales.png`);
        $('#img3D').attr('src', `${path}/images/graphic-design.png`);
        $('#imgForeman').attr('src', `${path}/images/foreman.png`);
        $('#imgMaster').attr('src', `${path}/images/accounting.png`);
        $('#imgHR').attr('src', `${path}/images/hr-manager_1.png`);
    });
</script>

<div class="row">
    <h4>บัญชีและเอกสาร</h4>

    <div class="col-sm-12">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-primary mb-3" style="padding-top: 0.25rem;padding-bottom: 0.25rem;padding-left: 0.25rem;">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#nav-accounting-document-tab">ออกเอกสารสัญญา</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#nav-accounting-invoice-tab">การออกใบแจ้งหนี้</a>
            </li>
            <li class="nav-item" id="nav-cert">
                <a class="nav-link" data-bs-toggle="pill" href="#nav-accounting-certificate-tab">บัตรประชาชนกรรมการและหนังสือรับรองบริษัท</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="nav-accounting-document-tab">@Html.Partial("_AccountingDocument.cshtml")</div>
            <div class="tab-pane" id="nav-accounting-invoice-tab">@Html.Partial("_InvoiceDocument.cshtml")</div>
            <div class="tab-pane" id="nav-accounting-certificate-tab">@Html.Partial("_BusinessCertificateDocument.cshtml")</div>
        </div>

    </div>
</div>

<div id="divGenerateInvoiceDoc" class="no-display">@Html.Partial("~/Views/Document/_Invoice.cshtml")</div>
<div id="divGenerateReceiptDoc" class="no-display">@Html.Partial("~/Views/Document/_Receipt.cshtml")</div>