@{
    ViewData["Title"] = "ฝ่ายขนส่ง";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/config.js"></script>
<script src="~/scripts/transportation/transportation-function.js"></script>
<script src="~/scripts/transportation/transportation-control.js"></script>

<style>
    .nav-tabs .nav-link {
        background-color: #AFAFAF;
        color: #FFF;
    }

        .nav-tabs .nav-link.active {
            background-color: #F09723;
            color: #FFF;
        }

    .no-display {
        display: none;
    }

    .mnu-active {
        color: #F09723;
    }

</style>

<script>
    $(function () {
        let imageUrl = localStorage.getItem('imageUrl');
        let path = (imageUrl == "") ? ".." : imageUrl;

        $('#spnTP').addClass('mnu-active');
        $('#imgTP').attr('src', `${path}/images/spec_2.png`);
        $('#spnPD').removeClass('mnu-active');
        $('#imgPD').attr('src', `${path}/images/spec.png`);
        $('#spnSpec').removeClass('mnu-active');
        $('#imgSpec').attr('src', `${path}/images/spec.png`);
        $('#navSpec').removeAttr("onmouseover");
        $('#navSpec').removeAttr("onmouseout");

        $('#spnStore').removeClass('mnu-active');
        $('#spnSale').removeClass('mnu-active');
        $('#spnMaster').removeClass('mnu-active');
        $('#spnForeman').removeClass('mnu-active');
        $('#spnAccounting').removeClass('mnu-active');
        $('#spnHR').removeClass('mnu-active');

        $('#spn3D').removeClass('mnu-active');

        $('#imgSale').attr('src', `${path}/images/sales.png`);
        $('#imgMaster').attr('src', `${path}/images/data-processing.png`);
        $('#imgForeman').attr('src', `${path}/images/foreman.png`);
        $('#imgAccounting').attr('src', `${path}/images/accounting.png`);
        $('#imgHR').attr('src', `${path}/images/hr-manager.png`);

        $('#img3D').attr('src', `${path}/images/graphic-design.png`);
        $('#imgStore').attr('src', `${path}/images/stores.png`);
    });
</script>

<div class="row">
    <h4>ฝ่ายขนส่ง</h4>

    <div class="col-sm-12">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-primary mb-3" style="padding-top: 0.25rem;padding-bottom: 0.25rem;padding-left: 0.25rem;">
            <li class="nav-item" id="nav-transport">
                 <a class="nav-link active" data-bs-toggle="pill" href="#nav-tp-tab">ฝ่ายขนส่ง Checklist</a>
            </li>
            <li class="nav-item" id="nav-transportque">
                <a class="nav-link" data-bs-toggle="pill" href="#nav-tp-que-tab">จัดคิวขนส่ง</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            
            <div class="tab-pane active" id="nav-tp-tab">@Html.Partial("_Transportation.cshtml")</div>
            <div class="tab-pane fade" id="nav-tp-que-tab">@Html.Partial("_TransportationQueue.cshtml")</div>
          @*   <div class="tab-pane fade" id="nav-spec-planks-tab">@Html.Partial("_Planks.cshtml")</div>
            <div class="tab-pane fade" id="nav-spec-fitting-tab">@Html.Partial("_Fitting.cshtml")</div>
            <div class="tab-pane fade" id="nav-spec-calculate-tab">@Html.Partial("_Calculate.cshtml")</div> *@
        </div>

    </div>
</div>
<div class="" style="display:none;">
    @Html.Partial("~/Views/Transportation/_TransportationQueuePrint.cshtml")
</div>