@{
    ViewData["Title"] = "การขาย";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/scripts/config.js"></script>
<script src="~/scripts/sale/sale-control.js"></script>
<script src="~/scripts/sale/sale-function.js"></script>

<script src="~/lib/html2canvas/html2canvas.min.js"></script>

<style>
    .nav-tabs .nav-link {
        background-color: #AFAFAF;
        color: #FFF;
    }

        .nav-tabs .nav-link.active {
            background-color: #F09723;
            color: #FFF;
        }

    .table tr th {
        background-color: #F09723;
        color: #FFF;
    }

    .no-display {
        display:none;
    }

    .btn-add-custom {
        color: #F09723;
        background-color: transparent /*#0d6efd*/;
        border-color: transparent /*#0d6efd*/;
        font-size: 16px;
    }

    .mnu-active {
        color: #F09723;
    }
</style>

<script>
    $(function () {
        $('#spnSale').addClass('mnu-active');
        $('#imgSale').attr('src', '/images/sales_2.png');

        $('#spnMaster').removeClass('mnu-active');
        $('#spn3D').removeClass('mnu-active');
        $('#spnForeman').removeClass('mnu-active');
        $('#spnAccounting').removeClass('mnu-active');

        $('#imgMaster').attr('src', '/images/data-processing.png');
        $('#img3D').attr('src', '/images/graphic-design.png');
        $('#imgForeman').attr('src', '/images/foreman.png');
        $('#imgAccounting').attr('src', '/images/accounting.png');
    });
</script>

<div class="row">
    <h4>การขาย</h4>

    <div class="col-sm-12">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-primary mb-3" style="padding-top: 0.25rem;padding-bottom: 0.25rem;padding-left: 0.25rem;" id="saleMenu">
            <li class="nav-item" id="nav-cus">
                <a class="nav-link active" data-bs-toggle="pill" href="#nav-sale-empData-tab" aria-disabled="true">ข้อมูลลูกค้าใหม่</a>
            </li>
            <li class="nav-item" id="nav-style">
                <a class="nav-link disabled" data-bs-toggle="pill" href="#nav-sale-style-tab" aria-disabled="true">รายละเอียดสไตล์และชิ้นงาน</a>
            </li>
            <li class="nav-item" id="nav-calculate">
                <a class="nav-link disabled" data-bs-toggle="pill" href="#nav-sale-calculate-tab" aria-disabled="true">การคำนวณราคา</a>
            </li>
            <li class="nav-item" id="nav-upload">
                <a class="nav-link disabled" data-bs-toggle="pill" href="#nav-sale-fileUpload-tab" aria-disabled="true">อัพโหลดรูปแปลนและรูป ref</a>
            </li>
            <li class="nav-item" id="nav-quotation">
                <a class="nav-link" data-bs-toggle="pill" href="#nav-sale-quotation-tab">รายการใบเสนอราคา</a>
            </li>
            <li class="nav-item" id="nav-document">
                <a class="nav-link" data-bs-toggle="pill" href="#nav-sale-document-tab">รายการเอกสารสัญญา</a>
            </li>
            <li class="nav-item" id="nav-commision">
                <a class="nav-link" data-bs-toggle="pill" href="#nav-sale-commission-tab">ค่าคอมมิชชั่น</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="nav-sale-empData-tab">@Html.Partial("_CustomerNewData.cshtml")</div>
            <div class="tab-pane fade" id="nav-sale-style-tab">@Html.Partial("_CustomerCreateStyle.cshtml")</div>
            <div class="tab-pane fade" id="nav-sale-calculate-tab">@Html.Partial("_CustomerCalculatePrice.cshtml")</div>
            <div class="tab-pane fade" id="nav-sale-fileUpload-tab">@Html.Partial("_CustomerUpload.cshtml")</div>
            <div class="tab-pane fade" id="nav-sale-quotation-tab">@Html.Partial("_CustomerQuotation.cshtml")</div>
            <div class="tab-pane fade" id="nav-sale-document-tab">@Html.Partial("_CustomerContractDocument.cshtml")</div>
            <div class="tab-pane fade" id="nav-sale-commission-tab">@Html.Partial("_CustomerCommission.cshtml")</div>
        </div>

    </div>
</div>

<div class="" style="display:none;">
    @Html.Partial("~/Views/Document/_Quotation.cshtml")
</div>
<div class="" style="display:none;">
    @Html.Partial("~/Views/Document/_ContractAgreement.cshtml")
</div>